name: 自动签到-全部
on:
  schedule:
    # `分 时 天 月 周` 时按照标准时间 北京时间=标准时间+8 0表示北京时间早上8点
    - cron: "0 18 * * *"
  # 这是用于测试本地提交后查看是否能正常运行action
  push:
    branches:
      - master
jobs:
  check_in:
    runs-on: ubuntu-latest
    steps:
      # 切换分支
      - name: Checkout
        uses: actions/checkout@master

      - name: work
        run: git config --global --add safe.directory /autoCheckin

      # 下载 git submodule
      - uses: srt32/git-actions@v0.0.3
        with:
          args: git submodule update --init --recursive

      # 使用 node:14
      - name: 使用 Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14

      # npm install
      - name: npm install
        run: |
          npm install
        env:
          CI: true

      # 运行脚本
      - name: 运行脚本
        run: |
          JUEJIN='${{ secrets.JUEJIN }}' BILI="${{ secrets.BILI }}" TIEBA='${{ secrets.TIEBA }}' QQ='${{ secrets.QQ }}' EMAIL='${{ secrets.EMAIL }}' npm run all
        env:
          CI: true
